# republicariograndense.org
# para adicionar comentario utilize o simbolo que esta no inicio desta linha
ErrorDocument 404 /404.htm
ErrorDocument 403 /servererror.htm
#
#--------------------------------------------------------------------
# 
# custom directory index files
# You can specify multiple files, and Apache will look for each in order, and present the first one it finds.
DirectoryIndex index.html index.htm index.php 
#
#--------------------------------------------------------------------
#
# Preventing Directory Listing
IndexIgnore *
#
#--------------------------------------------------------------------
# bloqueia usuarios indesejados
order allow,deny
deny from .tjpe.jus.br
deny from .tjpe.gov.br
deny from .itamaraty.gov.br
deny from .mercosul.gov.br
deny from .mre.gov.br
deny from .mec.gov.br
deny from .dpf.gov.br
deny from .pf.gov.br
deny from .saude.gov.br
deny from .policiafederal.gov.br
deny from 200.169.41.21
deny from 200.169.41.23
deny from 200.169.41.122
deny from 200.198.222.50
deny from 161.148.171.27
deny from 200.198.196.205
deny from 200.198.204.68
# ------------------------Bloqueia serpro e outros by IP range
deny from 201.54.48.
deny from 189.9.19.
deny from 200.142.0.
deny from 200.198.222.
deny from 189.9.20.
deny from 189.9.0.
deny from 200.198.213.
# ------------------------Bloqueia polícia federal by IP range
deny from 200.169.41.
deny from 200.169.44.
# ------------------------------------------------------------
deny from .mpf.gov.br
deny from .mpf.mp.br
deny from .mp.br
deny from 200.142.0.14
deny from .pgr.gov.br
deny from .cnmp.gov.br
deny from .cnmp.mp.br
deny from .planalto.gov.br
deny from .mil.br
deny from .cert-rio.net.br
deny from .cert-rj.net.br
deny from .eja.net.br
deny from .ensino.net.br
deny from .ft.net.br
deny from .mj.gov.br
deny from .mpu.gov.br
deny from .mpu.mp.br
deny from .mp.rs.gov.br
deny from .mp.sc.gov.br
deny from .mp.pr.gov.br
deny from .presidencia.gov.br
deny from .brasil.gov.br
deny from .brazil.gov.br
deny from .casacivil.gov.br
deny from .agu.gov.br
deny from .sae.gov.br
deny from .defesa.gov.br
deny from .mre.gov.br
deny from .serpro.gov.br
deny from .caged.gov.br
deny from .fat.gov.br
deny from .mtb.gov.br
deny from .mte.gov.br
deny from .mtecbo.gov.br
deny from .mtecbo2000.gov.br
deny from .trabalho.gov.br
deny from 161.148.225.197
deny from .5wmg.com.br
deny from .cnj.jus.br
deny from .vjmm.com.br
deny from .cdes.gov.br
deny from .confiancabrasil.gov.br
deny from .confiancanobrasil.gov.br
deny from .ctir.gov.br
deny from .fomezero.gov.br
deny from .juventude.gov.br
deny from .maisbrasil.gov.br
deny from .minhacasaminhavida.gov.br
deny from .nae.gov.br
deny from .observatoriodegenero.gov.br
deny from .portosdobrasil.gov.br
deny from .presidenciadarepublica.gov.br
deny from .regulacao.gov.br
deny from .senad.gov.br
deny from .splp.gov.br
deny from .cnj.gov.br
deny from .cnj.jus.br
deny from .cortesmercosul.gov.br
deny from .cortesmercosul.jus.br
deny from .cortesmercosur.gov.br
deny from .cortesmercosur.jus.br
deny from .diariodajustica.gov.br
deny from .dj.gov.br
deny from .infojus.gov.br
deny from .radiojustica.gov.br
deny from .radiojustica.jus.br
deny from .rededojudiciario.gov.br
deny from .rededopoderjudiciario.gov.br
deny from .redejudiciario.gov.br
deny from .stf.gov.br
deny from .stf.jus.br
deny from .stfnet.gov.br
deny from .tvjustica.gov.br
deny from .tvjustica.jus.br
deny from .cidadania.gov.br
deny from .congresso.gov.br
deny from .interlegis.gov.br
deny from .lexml.gov.br
deny from .senado.gov.br
deny from .senador.gov.br
deny from .senadora.gov.br
deny from .siga.gov.br
deny from .sigabrasil.gov.br
deny from .agenciacamara.gov.br
deny from .camara.gov.br
deny from .camaradosdeputados.gov.br
deny from .deputado.gov.br
deny from .edemocracia.gov.br
deny from .opeixeeaartedepescar.gov.br
deny from .plenarinho.gov.br
deny from .radiocamara.gov.br
deny from .wikilegis.gov.br
deny from .bdjur.gov.br
deny from .consorciobdjur.gov.br
deny from .e-jud.gov.br
deny from .e-jus.gov.br
deny from .e-stj.gov.br
deny from .portaldajustica.gov.br
deny from .stj.gov.br
deny from .stj.jus.br
deny from .superiortribunaldejustica.jus.br
deny from .superiortribunaldejustiça.jus.br 
deny from .xn--superiortribunaldejustia-iec.jus.br
deny from .unijus.gov.br
deny from .varadafazenda.gov.br
deny from .cert-rio.net.br
deny from .cert-rj.net.br
deny from .eja.net.br
deny from .ensino.net.br
deny from .ft.net.br
# ---- enderecos da ABIN - inicio
deny from .abin.gov.br
deny from .dte.gov.br
deny from .ccom.gov.br
deny from .cepesc.gov.br
deny from .cin-sci.gov.br
deny from .dinf.gov.br
deny from .dte.gov.br
deny from .linuxseguro.gov.br
deny from .ls.gov.br
deny from .orint.gov.br
deny from .sisbin.gov.br
# ----- enderecos da ABIN - fim
deny from .pc.rs.gov.br
deny from .pc.sc.gov.br
deny from .pc.pr.gov.br
deny from .eproc.gov.br
deny from .eproc-pr.gov.br
deny from .eproc-rs.gov.br
deny from .eproc-sc.gov.br
deny from .jef-pr.gov.br
deny from .jef-rs.gov.br
deny from .jef-sc.gov.br
deny from .jfrs.gov.br
deny from .jfrs.jus.br
deny from .peticaoeletronica.gov.br
deny from .sjrs.gov.br
allow from all
#
#
# ----------------------------------------------------------------------
#
#
# bloqueia o acesso ao arquivo .htaccess a partir do browser
<Files .htaccess>
order allow,deny
deny from all
</Files>
#
#
# bloqueia o acesso ao arquivo .htpasswd a partir do browser
<Files .htpasswd>
order allow,deny
deny from all
</Files>
#
# ----------------------------------------------------------------------
#
#
# cache images and flash content for one week
<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf)$">
Header set Cache-Control "max-age=604800"
</FilesMatch>
#
# ----------------------------------------------------------------------
#
#

